header {
  height:70px;
  width:100%;
  border-bottom: solid 1px #CCCCCC;
  box-sizing:border-box;
  padding-left: 20px;
  background-color:white;
  background-image:url("images/logo.png");
  background-repeat: no-repeat;
}
